In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("file_table-converted_2.pdf.csv")

In [8]:
data

   Chent 1D Citnt Firsa Marne. Chent Last Marne:  Chant Cty
0      5001            Stewart           Jameson     Seatie
1      9007            Shanhon            Melain    Poulsbo
2      9003             Fsteta              Pane     Tacoma
3      9004          Tirrwttty              Enon       Seat
4      9005              Maran             Russe  Belirgham
5      9006              Kenda         Bonmeisen     Tacoma