In [1]:
import  pandas as pd
import numpy  as np

In [2]:
dataset = pd.read_csv("history_export_2019-06-23T12_36_06.csv")

In [3]:
dataset.head()

     LAT;;;;;13.5500;13.5500;13.5500;13.5500;13.5500
0  LON;;;;;-88.8167;-88.8167;-88.8167;-88.8167;-8...
1    ASL;;;;;481.000;481.000;481.000;481.000;481.000
2             CITY;;;;;India;India;India;India;India
3  DOMAIN;;;;;NEMSCAM;NEMSCAM;NEMSCAM;NEMSCAM;NEM...
4                      LEVEL;;;;;sfc;sfc;sfc;sfc;sfc

In [4]:
from collections import Counter